
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
PyYAML==6.0
requests==2.24.0
scikit-learn==1.0.2
scipy==1.5.4
seaborn==0.8.1
sentry-sdk==1.5.6
shortuuid==1.0.8
six==1.15.0
smmap==5.0.0
urllib3==1.25.10
wandb==0.12.10
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
yaspin==2.1.0
zipp==3.2.0
pyglet==1.5.7
PyOpenGL==3.1.6
tensorboard==1.14.0
tensorboardX==2.5
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.7.0+cu110
torchaudio==0.7.0
torchvision==0.8.0  //这个还没装
tqdm==4.19.4
typing-extensions==4.1.1
